header {
    background-image: url("../images/heroBackground.gif");
}

.me {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.me-container {
    background-color: #CAABD8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}